spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/'DB명'
    username: '계정명'
    password: '비밀번호'

  mail:
    host: smtp.naver.com
    port: '포트번호'
    username: '계정명@naver.com'
    password: '네이버계정 비밀번호'
    properties:
      mail.smtp.auth: true
      mail.smtp.ssl.enable: true
      mail.smtp.ssl.trust: smtp.naver.com
      mail.smtp.starttls.enable: true

custom:
  jwt:
    secretKey: '시크릿키'
open-api:
  url:
  key: '인증키'